services:
  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - "${DB_PORT}:3306"
    networks:
      - laravel-project-network

  mailcatcher:
    image: schickling/mailcatcher
    restart: unless-stopped
    ports:
      - "1080:1080" # MailCatcher web interface
      - "1025:1025" # SMTP server
    networks:
      - laravel-project-network

volumes:
  mysql-data:
